<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<% @answers.each do |answer| %>
	<div class="alert alert-info">
		<p><%= answer.content %></p>
		<p><%= link_to "X", answer, method: :delete, data: { confirm: "Are you sure you want to delete?" } %></p>
	</div>
<% end %>

<%= render 'answers/form' %>



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
