<li id="comment_<%=comment.id %>">
  <%= comment.body %>,
 
  <%= link_to fa_icon("times-circle-o"), [comment.post, comment], method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
</li>
