<h2>여기 보세요.</h2>

<table class='table table-bordered'>
<tr>
  <th>공지</th>
  <td><%= @bulletin.title %></td>
</tr>
<tr>
  <th>내용</th>
  <td><%= @bulletin.description %></td>
</tr>
<tr>
<tr>
  <th>속성</th>
  <td><%= @bulletin.post_type %></td>
</tr>
  <th>작성일시</th>
  <td><%= @bulletin.created_at %></td>
</tr>
</table>

<%= link_to 'Edit', edit_bulletin_path(@bulletin), class: 'btn btn-default' %>
<%= link_to 'Back', bulletins_path, class: 'btn btn-default' %>
