<span style ="color:skyblue"><h1>최쌤의 한국어 카페</span><small>에 오신 여러분을 환영합니다.</small></h1>

<h3><p>함께 즐겁게 한국어를 공부해요!!</p></h3>

<br />
<%= link_to "글쓰기", bulletin_posts_path(1), class:'btn btn-default' %>



<% if user_signed_in? %>

  <li><%= image_tag(current_user.image, size: '20x20', style:'border-radius:3px;vertical-align:top;') if current_user.image %></li>

  <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }%></li>

<% else %>

  <li><%= link_to "페이스북으로 로그인", user_omniauth_authorize_path(:facebook) %></li>

<% end %>

