$light-orange: #002b80;
$navbar-default-color: $light-orange;
$navbar-default-bg: #5ae1b5;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;

@import 'bootstrap';
@import "font-awesome";
@import 'posts';
@import 'comments';

body { padding-top: 60px; }