.comments {
  border:1px solid #eaeaea;
  border-radius: 5px;
  background-color: #eafaea;
  margin:1em 0;
  padding:1em;
  h2 {
    margin:0 0 .5em;
  }
  ul {
    padding-left: 1.5em;
    li {
      margin-bottom: .5em
    }
  }
}
